Net "clk" LOC="B8";

#BOTONES DE MOVIMIENTOS DE IZQUIERDA Y DERECHA
Net "moveL" LOC="C10" | IOSTANDARD = LVCMOS33;  
Net "moveR" LOC="C12" | IOSTANDARD = LVCMOS33;

#VALORES DE SALIDA
Net "right" LOC="C15" | IOSTANDARD = LVCMOS33; 
Net "left" LOC ="F13" | IOSTANDARD = LVCMOS33; 

